<div class="main-menu">
    <h3>ritzyware</h3>
    <ul class="main-menu-ul">
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Testimonial</a></li>
        <li><a href="#">Client</a></li>
        <li><a href="#">Settings</a></li>
    </ul>
</div>