<%- include('header') -%>
<%- include('slider') -%>
<div id="wrapper" class="size-wrap">
    <div id="container_bg">
        <div id="content_full">
            <div id="post-367" class="post-367 page type-page status-publish hentry">
                <div class="entry-content">

                    <div class="column column-1-2">
                        <div class="heading-wrapper">
                            <h6><span class="heading-line-left"></span><strong>Who are We</strong><span class="heading-line-right"></span></h6>
                        </div>
                        <p>Ritzyware is a full service IT company providing a wide array of digital products and
                            services. From mobile apps to all IT solutions, we cater and deliver all. We follow
                            a flexible, proven methodology to ensure our deliverable performs to specification
                            and meet or exceed our client expectations.</p>
                        <p>Our team of specialists consistently delivers outstanding results combining creative
                            ideas with our vast experience. We can help your business build a sustainable,
                            meaningful relationship with your clientele by engaging them smartly with your brand
                            using various online technologies and tools available.<br>
                    </p></div>
                    <div class="column column-1-2 column-last">
                        <div class="heading-wrapper">
                            <h6><span class="heading-line-left"></span><strong>Our Skills</strong><span class="heading-line-right"></span></h6>
                        </div>
                        <div class="skillbar-title">Web Applications / Portals <span>96%</span></div>
                        <div class="skillbar-wrapper" data-perc="96">
                            <div class="skillbar" style="width: 96%;"></div>
                        </div>
                        <div class="skillbar-title">Mobile Native/Hybrid Apps <span>91%</span></div>
                        <div class="skillbar-wrapper" data-perc="91">
                            <div class="skillbar" style="width: 91%;"></div>
                        </div>
                        <div class="skillbar-title">CRM and ERP Systems <span>90%</span></div>
                        <div class="skillbar-wrapper" data-perc="90">
                            <div class="skillbar" style="width: 90%;"></div>
                        </div>
                        <div class="skillbar-title">CMS Systems <span>94%</span></div>
                        <div class="skillbar-wrapper" data-perc="94">
                            <div class="skillbar" style="width: 94%;"></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="spacer" style="height:15px"></div>
                    <div class="column column-1-2">
                        <div class="heading-wrapper">
                            <h6><span class="heading-line-left"></span><strong>Why Choose Us?</strong><span class="heading-line-right"></span></h6>
                        </div>
                        <div class="su-spoiler su-spoiler-style-2 su-spoiler-open">
                            <div class="su-spoiler-title"><i class="moon-arrow-right-2 spoiler-button"></i><i class="moon-arrow-down spoiler-button spoiler-active"></i>Customer
                                Satisfaction</div>
                            <div class="su-spoiler-content" style="display:block">
                                <p>Our strategy is to build a long term relation with the clients. Our first and
                                    prime motive is customer satisfaction. We assure you fast and effective
                                    response to your queries and make sure that our deliverables will be as per
                                    your expectations.</p>
                            </div>
                        </div>
                        <div class="su-spoiler su-spoiler-style-2 su-spoiler-open">
                            <div class="su-spoiler-title"><i class="moon-arrow-right-2 spoiler-button"></i><i class="moon-arrow-down spoiler-button spoiler-active"></i>Quick Support and
                                Maintenance</div>
                            <div class="su-spoiler-content" style="display:block">
                                <p>We will provide you round the clock support for your business and customers.
                                    We provide annual maintenance plans if you hosted on our servers.</p>
                            </div>
                        </div>
                        <div class="su-spoiler su-spoiler-style-2 su-spoiler-open">
                            <div class="su-spoiler-title"><i class="moon-arrow-right-2 spoiler-button"></i><i class="moon-arrow-down spoiler-button spoiler-active"></i>Creative Team
                            </div>
                            <div class="su-spoiler-content" style="display:block">
                                <p>We have a team with many years of experiences who always look forward to
                                    fulfil the vision and mission of the company. In addition to this, we
                                    specialize in delivering customized services to each of our customer as per
                                    their requirement.</p>
                            </div>
                        </div>
                    </div>
                    <div class="column column-1-2 column-last">
                        <div class="heading-wrapper">
                            <h6><span class="heading-line-left"></span><strong>Our Services</strong><span class="heading-line-right"></span></h6>
                        </div>
                        <div class="su-spoiler su-spoiler-style-2">
                            <div class="su-spoiler-title"><i class="moon-arrow-right-2 spoiler-button"></i><i class="moon-arrow-down spoiler-button spoiler-active"></i>Web Applications
                            </div>
                            <div class="su-spoiler-content">Our website development professionals recognize the
                                value of solid information architecture design and integrative branding that
                                engages the customer from the first stop at your site.</div>
                        </div>
                        <div class="su-spoiler su-spoiler-style-2">
                            <div class="su-spoiler-title"><i class="moon-arrow-right-2 spoiler-button"></i><i class="moon-arrow-down spoiler-button spoiler-active"></i>Native &amp;
                                Hybrid Mobile Apps</div>
                            <div class="su-spoiler-content">We provide native apps that are known to&nbsp;world&nbsp;as
                                mobile applications, ones that you access through the mobile app stores.<p></p>
                                <p>Our company also supplies Hybrid app service which&nbsp;are&nbsp;a mix of both Native
                                    and Web apps, users can avail the features on&nbsp;browser&nbsp;as well as mobile app
                                    stores.
                            </p></div>
                        </div>
                        <div class="su-spoiler su-spoiler-style-2">
                            <div class="su-spoiler-title"><i class="moon-arrow-right-2 spoiler-button"></i><i class="moon-arrow-down spoiler-button spoiler-active"></i>CRM and ERP
                                Systems</div>
                            <div class="su-spoiler-content">
                                <p>We provide CRM and it’s customization that can help you manage your business,
                                    and we are very flexible about how we go about doing it.&nbsp;Also&nbsp;we offer
                                    Integration of CRM with other business applications like ERP, Marketing,
                                    Custom app, etc. using Informatica Cloud.</p>
                            </div>
                        </div>
                        <div class="su-spoiler su-spoiler-style-2">
                            <div class="su-spoiler-title"><i class="moon-arrow-right-2 spoiler-button"></i><i class="moon-arrow-down spoiler-button spoiler-active"></i>CMS Systems</div>
                            <div class="su-spoiler-content">
                                <p>Our CMS Development Company incorporates a sound specialized group devoted to
                                    acquainting our clients with new instruments to confront new difficulties.
                                    We will provide you SEO-friendly URLs, Integrated and online help,
                                    Modularity and extensibility, User and group functionality, Templating
                                    support for changing designs etc.</p>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="heading-wrapper">
                        <h6><span class="heading-line-left"></span><strong>Team Members</strong><span class="heading-line-right"></span></h6>
                    </div>
                    <div class="column column-1-4">
                        <div class="staff-wrapper">
                            <div class="person-name">Pulkit<img style="border-radius:50%; float: right;font-size: 42px;line-height: 1;" src="" alt=""></div>
                            <div class="person-title">Developer</div>
                            <div class="person-description">With more than 9+ Yrs. of Experience and Engineer by
                                Degree he is deeply involved in developing and delivering enterprises SASS based
                                products. He is an expert in solving pain areas of businesses with help of
                                technology and providing solutions.</div>
                        </div>
                    </div>
                    <div class="column column-1-4">
                        <div class="staff-wrapper">
                            <div class="person-name">Nikita<img style="border-radius:50%; float: right;font-size: 42px;line-height: 1;" src="" alt=""></div>
                            <div class="person-title">Administrative Manager</div>
                            <div class="person-description">With more than 6 Years of experience in telecom
                                industry sales and operations. She is placing a mark in IT industry with her
                                expert sales skills. She is a graduate in business commerce and expert HR
                                manager also. </div>
                        </div>
                    </div>
                    <div class="column column-1-4">
                        <div class="staff-wrapper">
                            <div class="person-name">Anirudh<img style="border-radius:50%; float: right;font-size: 42px;line-height: 1;" src="" alt=""></div>
                            <div class="person-title">Senior Designer</div>
                            <div class="person-description">A tech geek and an engineer by profession. Always
                                search for latest technologies and fond of working on them. He is our Senior
                                Developer with around 4 years of experience.</div>
                        </div>
                    </div>
                    <div class="column column-1-4 column-last">
                        <div class="staff-wrapper">
                            <div class="person-name">Ashitha<img style="border-radius:50%; float: right;font-size: 42px;line-height: 1;" src="" alt=""></div>
                            <div class="person-title">Developer</div>
                            <div class="person-description">Having 2+ years of good experince in web application
                                development.</div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="spacer" style="height:25px"></div>
                    <p>&nbsp;</p>


                    <div class="clear"></div>
                </div><!-- .entry-content -->
            </div><!-- #post-->



        </div><!-- #content -->
    </div><!-- #container -->
</div>
<%- include('footer') -%>