<%- include('header') -%>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1944.2756097503584!2d77.62548557667526!3d12.936540305064115!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae144315aa74e3%3A0x3a03c5099012b288!2s53%2FA%2C%2016th%20C%20Main%20Rd%2C%20Koramangala%204th%20Block%2C%20Koramangala%2C%20Bengaluru%2C%20Karnataka%20560034!5e0!3m2!1sen!2sin!4v1662398261577!5m2!1sen!2sin" width="600" height="450" style="width: 100%;border:0;height: 300px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
<div id="wrapper" class="size-wrap">
			<div id="container_bg">
				<div id="content_full">


					<div id="post-271" class="post-271 page type-page status-publish hentry">
						<div class="entry-content">

							<div class="column column-2-3">
								<div class="heading-wrapper">
									<h6><span class="heading-line-left"></span><strong> Send your message </strong><span class="heading-line-right"></span></h6>
								</div>
								<div role="form" class="wpcf7" id="wpcf7-f3368-p271-o1" lang="en-US" dir="ltr">
									<div class="screen-reader-response">
										<p role="status" aria-live="polite" aria-atomic="true"></p>
										<ul></ul>
									</div>
									<form action="/contacts/#wpcf7-f3368-p271-o1" method="post" class="wpcf7-form init" novalidate="novalidate" data-status="init">
										<div style="display: none;">
											<input type="hidden" name="_wpcf7" value="3368">
											<input type="hidden" name="_wpcf7_version" value="5.6.2">
											<input type="hidden" name="_wpcf7_locale" value="en_US">
											<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f3368-p271-o1">
											<input type="hidden" name="_wpcf7_container_post" value="271">
											<input type="hidden" name="_wpcf7_posted_data_hash" value="">
										</div>
										<p><label> Your Name (required)<br>
												<span class="wpcf7-form-control-wrap" data-name="your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false"></span> </label></p>
										<p><label> Your Email (required)<br>
												<span class="wpcf7-form-control-wrap" data-name="your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false"></span> </label></p>
										<p><label> Subject<br>
												<span class="wpcf7-form-control-wrap" data-name="your-subject"><input type="text" name="your-subject" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false"></span> </label></p>
										<p><label> Your Message<br>
												<span class="wpcf7-form-control-wrap" data-name="your-message"><textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false"></textarea></span> </label></p>
										<p><input type="submit" value="Send" class="wpcf7-form-control has-spinner wpcf7-submit"><span class="wpcf7-spinner"></span></p>
										<div class="wpcf7-response-output" aria-hidden="true"></div>
									</form>
								</div>
							</div>
							<div class="column column-1-3 column-last">
								<div class="heading-wrapper">
									<h6><span class="heading-line-left"></span><strong> Get in Touch</strong><span class="heading-line-right"></span></h6>
								</div>
								<strong>Address : </strong> 53/A, 16th C MainRd,<br>
								4th Block Koramangala, Bengaluru,<br>
								Karnataka – 560034<br>
								<strong>Ph: </strong>9035024888<br>
								<strong>Email: </strong>pulkit@ritzyware.com<br>
								<strong>Web: </strong>www.ritzyware.com<p></p>
								<div class="spacer" style="height:20px"></div>
								<div class="heading-wrapper">
									<h6><span class="heading-line-left"></span><strong> Social Media</strong><span class="heading-line-right"></span></h6>
								</div>
								<strong>Facebook:&nbsp;<a href="https://www.facebook.com/ritzyware/" target="_self"><span style="color:#4967a7"><i style="color:#4967a7; font-size:21px" class="moon-facebook hover-show-color"></i></span></a> </strong><br>
								<strong>Linkedin: <a href="https://www.linkedin.com/company/ritzyware/" target="_self"><span style="color:#4967a7"><i style="color:#4967a7; font-size:21px" class="moon-linkedin hover-show-color"></i></span></a></strong><p></p>
								<div class="spacer" style="height:20px"></div>
							</div>
							<div class="clear"></div>
							<p>&nbsp;</p>


							<div class="clear"></div>
						</div><!-- .entry-content -->
					</div><!-- #post-->



				</div><!-- #content -->
			</div><!-- #container -->
		</div>
<%- include('footer') -%>