</div>
<div id="footer-wrapper">
    <div id="footer-widget-area" class="columns-3 size-wrap">

        <div class="widget-area">
            <ul class="xoxo">
                <li id="text-2" class="widget-container widget_text">
                    <div class="widget-title"><span>About Us</span></div>
                    <div class="sidebar-line"><span></span></div>
                    <div class="textwidget">Ritzyware is an integrated technology solutions provider that offers
                        end to end services to customers that enable them to effectively deploy IT for distinct
                        competitive advantage and business success. The Company has since delivered high value
                        solutions to top notch clients in all key industry verticals.</div>
                </li>
            </ul>
        </div><!-- #first .widget-area -->

        <div class="widget-area">
            <ul class="xoxo">
                <li id="text-3" class="widget-container widget_text">
                    <div class="widget-title"><span>Contact Us</span></div>
                    <div class="sidebar-line"><span></span></div>
                    <div class="textwidget"><strong>Address :</strong>53/A,
                        16th C MainRd,4th Block Koramangala,Bengaluru, Karnataka,560034<br>
                        <strong>Contact No : </strong>9035024888<br>
                        <strong>Email : </strong>pulkit@ritzyware.com
                    </div>
                </li>
            </ul>
        </div><!-- #second .widget-area -->

        <div class="widget-area">
            <ul class="xoxo">
                <li id="nav_menu-2" class="widget-container widget_nav_menu">
                    <div class="widget-title"><span>Important Links</span></div>
                    <div class="sidebar-line"><span></span></div>
                    <div class="menu-footer-menu-container">
                        <ul id="menu-footer-menu" class="menu">
                            <li id="menu-item-3815" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-3815">
                                <a href="/">Home</a>
                            </li>
                            <li id="menu-item-3404" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3404">
                                <a href="/services/">Service</a>
                            </li>
                            <li id="menu-item-3276" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3276">
                                <a href="/about-us/">About Us</a>
                            </li>
                            <li id="menu-item-3275" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3275">
                                <a href="/contacts/">Contacts</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div><!-- #third .widget-area -->


    </div><!-- #footer-widget-area -->
</div>
<div id="copyright-wrapper">
    <div id="copyright-container" class="size-wrap">
        <div id="copyright">© 2022 All Rights Reserved. </div>
        <div class="clear"></div>
    </div>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.mixitup.min.js"></script>
<script src="/js/swiper-bundle.min.js"></script>
<script src="/js/init.js"></script>
<script src="/js/main.js"></script>
<script src="/js/mobile-menu.js"></script>
<script src="/js/custom.js"></script>
<body>
</html>