<%- include('header') -%>
<%- include('slider') -%>
<div id="wrapper" class="size-wrap">
    <div id="container_bg">
        <div id="content_full">


            <div id="post-1662" class="post-1662 page type-page status-publish hentry">
                <div class="entry-content">

                    <h2 style="font-weight: lighter; text-align: center;"></h2>
                    <div class="divider" style="border-color:#E7E7E7;"></div>
                    <div class="spacer" style="height:30px"></div>
                    <div class="column column-1-3">
                        <div class="service-box"><i style="font-size:32px; color:;" class="moon-screen-3"></i>
                            <div class="service-content" style="margin-left:57px;">
                                <h5>Web Applications</h5>Our website development professionals recognize the
                                value of solid information architecture design and integrative branding that
                                engages the customer from the first stop at your site.<br>
                                <a class="su-fancy-link" style="float:none" href="http://ritzyware.com/web-applications/">Read
                                    More<span>›</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="column column-1-3">
                        <div class="service-box"><i style="font-size:29px; color:;" class="moon-vector"></i>
                            <div class="service-content" style="margin-left:54px;">
                                <h5>Native Apps</h5>We provide native apps that are known to world as mobile
                                applications, ones that you access through the mobile app stores.<p></p>
                                <a class="su-fancy-link" style="float:none" href="http://ritzyware.com/native-mobile-apps/">Read
                                    More<span>›</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="column column-1-3 column-last">
                        <div class="service-box"><i style="font-size:29px; color:;" class="moon-marker-2"></i>
                            <div class="service-content" style="margin-left:54px;">
                                <h5>Hybrid Apps</h5>Our company also supplies Hybrid app service which are a mix
                                of both Native and Web apps, users can avail the features on browser as well as
                                mobile app stores.<br>
                                <a class="su-fancy-link" style="float:none" href="http://ritzyware.com/hybrid-apps/">Read More<span>›</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="spacer" style="height:30px"></div>
                    <div class="column column-1-2">
                        <div class="service-box"><i style="font-size:30px; color:;" class="moon-shield-4"></i>
                            <div class="service-content" style="margin-left:55px;">
                                <h5>CRM and ERP Systems</h5>We provide CRM and it’s customization that can help
                                you manage your business, and we are very flexible about how we go about doing
                                it. Also we offer Integration of CRM with other business applications like ERP,
                                Marketing, Custom app, etc using informatica Cloud.<p></p>
                                <a class="su-fancy-link" style="float:none" href="http://ritzyware.com/crm-and-erp-systems/">Read
                                    More<span>›</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="column column-1-2 column-last">
                        <div class="service-box"><i style="font-size:30px; color:;" class="moon-cube4"></i>
                            <div class="service-content" style="margin-left:55px;">
                                <h5>CMS Systems</h5>Our CMS Development Company incorporates a sound specialized
                                group devoted to acquainting our clients with new instruments to confront new
                                difficulties. We will provide you SEO-friendly URLs, Integrated and online help,
                                Modularity and extensibility, User and group functionality, Templating support
                                for changing designs etc.<p></p>
                                <a class="su-fancy-link" style="float:none" href="http://ritzyware.com/cms-systems/">Read More<span>›</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <p>&nbsp;</p>
                    <div class="spacer" style="height:40px"></div>
                    <div class="column column-1-3">
                        <div class="heading-wrapper">
                            <h6><span class="heading-line-left"></span><strong>Listing things</strong><span class="heading-line-right"></span></h6>
                        </div>
                        <div class="custom-list"><i class="moon-checkbox" style="color:#027a22;"></i><strong>Inspirational visual design</strong></div>
                        <div class="custom-list"><i class="moon-checkbox" style="color:#027a22;"></i><strong>All
                                in one solutions</strong></div>
                        <div class="custom-list"><i class="moon-checkbox" style="color:#027a22;"></i><strong>Top
                                class marketing for your product</strong></div>
                    </div>
                    <div class="column column-2-3 column-last">
                        <div class="heading-wrapper">
                            <h6><span class="heading-line-left"></span><strong>Client speaking</strong><span class="heading-line-right"></span></h6>
                        </div>
                        <div class="spacer" style="height:20px"></div>
                        <div class="su-quote"><i class="moon-quotes-left"></i>
                            <div class="su-quote-shell">Excellent work Done by Pulkit. Very professional way of
                                working good understanding of Business side as well as Technical understanding.
                            </div>
                            <div class="quote-author">Sumit Goyal</div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="heading-wrapper">
                        <h6><span class="heading-line-left"></span><strong>Our Projects</strong><span class="heading-line-right"></span></h6>
                    </div>
                    <div class="latest-works">
                        <ul class="filterable-grid pf-three-columns">
                            <li style="height:200px"><img src="/wp-content/uploads/boneconsdr-540x270.png" alt="">
                                <div class="mask"><a href="http://boneandjointconsult.com/" class="pf-info"><i class="moon-link-4"></i></a></div>
                                <div class="pf-title">bone and joint consult</div>
                            </li>
                            <li style="height:200px"><img src="/wp-content/uploads/pulpqa-540x270.png" alt="">
                                <div class="mask"><a href="http://pulpqa.com/" class="pf-info"><i class="moon-link-4"></i></a></div>
                                <div class="pf-title">Pulpqa.com</div>
                            </li>
                            <li style="height:200px"><img src="/wp-content/uploads/yrown-540x270.png" alt="">
                                <div class="mask"><a href="https://yourownroom.com/" class="pf-info"><i class="moon-link-4"></i></a></div>
                                <div class="pf-title">Your Own Room</div>
                            </li>
                            <div class="clear"></div>
                        </ul>
                    </div>
                    <div class="spacer" style="height:15px"></div>


                    <div class="clear"></div>
                </div><!-- .entry-content -->
            </div><!-- #post-->



        </div><!-- #content -->
    </div><!-- #container -->
</div>
<%- include('footer') -%>