<div class="main-slider">
    <div class="swiper main-slider-site">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="m-slide" id="slide1"  style="background-image: url(../images/slider/slide_2_bg.png);">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 left">
                                <h1>Feel The Difference</h1>
                                <h3>So Powerfu Yet So Simple </h3>
                                <p>One Click Style feature makes designing your website super easy. Yet theme is very powerful and includes full <br />range of options to adjust template and create your style.</p>
                                <a href="#">Purchase Now</a>
                            </div>
                            <div class="col-lg-6 right">
                                <img src="images/slider/slide1_1.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>